/* Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #0071c5;
  --secondary-color: #c75600;
  --tertiary-color: #00c798;
  --transparent-color: rgb(15 116 143 / 70%);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1270px;
  }
}
/* End of global Rules */
/* Variables */

/* End of Variables */
/* Components */

/* End Of Components */
/* Navbar */

.header {
  height: 100vh;
  position: relative;
  background: url(../img/landing2.jpg);
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}
.navbar .logo {
  position: relative;

  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 30px;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.navbar a.nav-item {
  text-decoration: none;
  margin-right: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: var(--primary-color);
  font-weight: normal;
  transition: 0.5s;
}
.navbar a.nav-item:hover {
  color: #7fc6fc;
  border-bottom: 1px solid #7fc6fc;
}
.navbar .nav-icons {
  margin-left: 50px;
}
/* End Of Navbar */
/* Landing section */
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  width: 50%;
  color: white;
  background-color: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.landing .text p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.landing .text .btn {
  padding: 10px 20px;
  border: 0;
  background-color: wheat;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
}
/* End of landing Section */
/* Start of Values Section */
.values-section {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-heading {
  text-align: center;
}
.section-heading h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.5;
  color: var(--primary-color);
  margin-bottom: 80px;
  text-transform: uppercase;
}
.values-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.values-content .value-card {
  padding: 10px;
  transition: 0.5s;
}
/* .values-content .value-card:hover {
  box-shadow: 1px 1px 1px 22px #777;
} */

.values-content .value-card img {
  margin-bottom: 35px;
}

.values-content .value-card h3 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 35px;
}
.values-content .value-card p {
  color: #777;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
}

/* End of Values Section */
/* Start of Top Performer section */
#top-performers {
  background-image: url(/img/pattern.jpg);
}
.top-performers-section {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}
.top-performers-section .cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-performers-section .card-nav ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 60px;
  text-align: center;
  flex: 1;
}
.top-performers-section .card-nav a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  color: #0071c5;
  margin: 0 20px;
  border-radius: 10px;
  transition: 0.5s;
}
.top-performers-section .card-nav a:hover {
  color: white;
  background-color: #7fc6fc;
}

.performer-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
  background-color: white;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 5px 5px 5px #ddd;
}
.performer-card .performer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  padding: 20px 0;
}

.performer-card .performer-info .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);
  padding: 0 20px;
}
.performer-card .performer-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  padding: 5px;
  border: 1px solid var(--primary-color);
}
.performer-card .performer-stats {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid rgb(209, 208, 208);
  background-color: rgb(223 223 223 / 50%);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.performer-card .performer-stats .sales,
.performer-card .performer-stats .growth,
.performer-card .performer-stats .uplift {
  padding: 10px;
  text-align: center;
}
.performer-card .performer-stats i {
  font-size: 35px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.performer-card .performer-stats .number {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.performer-card .performer-stats .kpi {
  font-weight: normal;
  color: #777;
  font-size: 18px;
  text-align: center;
}
.performer-wrapper {
  display: flex;
}
.performer-card .performer-caption {
  font-size: 16px;
  font-weight: thin;
  color: #777;
  padding: 20px 0;
  position: relative;
  line-height: 1.4;
  text-align: center;
}
.performer-card .performer-caption::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #777;
}

.performer-card .interaction {
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.performer-card .interaction i {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  color: var(--primary-color);
}
.performer-card .interaction i.fa-heart:hover {
  color: rgb(128, 1, 1);
}
.performer-card .interaction i.fa-comment:hover {
  color: seagreen;
}

/* End of top performer section */
